body {
  font: normal 15px Arial;
  background-color: rgb(7, 116, 150);
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  padding: 15px;
  max-width: 25rem;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.452);
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  margin-left: .6rem;
}

.msg {
  display: flex;
  flex-direction: column;
}

#foto {
  margin: auto;
  height: 25vmin;
  width: 25vmin;
  border-radius: 50%;
}
